.sys-font-heading3 {
	FONT-SIZE: 175%; FONT-FAMILY: Franklin Gothic Medium! important
}
.sys-font-subheading {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN-BOTTOM: 0.2em; FONT-FAMILY: Verdana
}
BODY {
	MARGIN: 10px 8px 10px 16px; OVERFLOW: auto; COLOR: black; BACKGROUND-COLOR: white
}
BODY {
	FONT: messagebox
}
TD {
	FONT: messagebox
}
BUTTON {
	FONT: messagebox
}
INPUT {
	FONT: messagebox
}
SELECT {
	FONT: messagebox
}
TABLE {
	TABLE-LAYOUT: fixed
}
A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	MARGIN: 5px 0px 5px 16px
}
OL {
	MARGIN: 5px 0px 5px 16px
}
OL LI {
	MARGIN: 0px 0px 2px 8px
}
A {
	COLOR: #003399; TEXT-DECORATION: none
}
A:link {
	COLOR: #003399
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A:active {
	COLOR: #800080
}
INPUT.checkbox {
	MARGIN: 0px 0px -2px
}
IMG.icon32 {
	MARGIN: 0px 6px -12px 0px; WIDTH: 32px; HEIGHT: 32px
}
IMG.arrow {
	WIDTH: 30px; HEIGHT: 25px
}
DIV.spacer {
	OVERFLOW: hidden
}
DIV.error {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 16px; MARGIN: 10px 0px 0px; PADDING-TOP: 6px; BACKGROUND-COLOR: #f7f3e7
}
DIV.error DIV {
	PADDING-RIGHT: 0px; BORDER-TOP: #9c9c9c 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 6px 0px 0px; PADDING-TOP: 6px; TEXT-ALIGN: right
}
BODY.results {
	OVERFLOW: hidden
}
BODY.results TABLE {
	WIDTH: 100%; HEIGHT: 100%
}
TD.resultsTop {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px; HEIGHT: 1%
}
DIV.resultsPageInfo DIV.subTitle {
	FONT-WEIGHT: bold; MARGIN: 30px 0px 5px
}
DIV.resultsProviderLogo {
	FLOAT: right; MARGIN: 0px 0px 2px; TEXT-ALIGN: right
}
TR.resultsBasketBar TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px; HEIGHT: 1%
}
DIV#eUpdatesContainer {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; FONT: 100% verdana; PADDING-TOP: 10px; HEIGHT: 93%; BACKGROUND-COLOR: #f4f4f2
}
SPAN#ePageDescCanceledEULA {
	DISPLAY: none
}
.SelectAllCheckbox {
	FILTER: Alpha(opacity = 40)
}
.SelectAllSpan {
	PADDING-RIGHT: 0px; MARGIN-TOP: 50px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 50px; PADDING-BOTTOM: 50px; PADDING-TOP: 50px
}
.spanDetails {
	DISPLAY: none; MARGIN-LEFT: 35px
}
.spanDetailsExpanded {
	MARGIN-LEFT: 35px
}
.spanDetailsHidden {
	DISPLAY: none; MARGIN-LEFT: 35px; COLOR: gray
}
.spanDetailsExpandedHidden {
	MARGIN-LEFT: 35px; COLOR: gray; FONT-STYLE: italic
}
.spanDetailsBasket {
	DISPLAY: none; MARGIN-LEFT: 20px
}
.spanDetailsExpandedBasket {
	MARGIN-LEFT: 20px
}
.divExclusiveSection {
	PADDING-LEFT: 10px; MARGIN: -10px -10px 10px; BACKGROUND-COLOR: #e9e9e6
}
.tblExclusiveSection {
	BORDER-RIGHT: #e5d665 1px solid; BORDER-TOP: #e5d665 1px solid; BORDER-LEFT: #e5d665 1px solid; BORDER-BOTTOM: #e5d665 1px solid; BACKGROUND-COLOR: #f7f5e5
}
DIV.update {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 4px 8px 0px 0px; PADDING-TOP: 0px
}
DIV.lastupdate {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 4px 8px 0px 0px; PADDING-TOP: 0px
}
DIV.updateTitle {
	FONT-WEIGHT: normal; MARGIN: 0px 0px 4px
}
DIV.group {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; WIDTH: 100%; PADDING-TOP: 4px
}
DIV.buttons {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; TEXT-ALIGN: right
}
DIV.buttons BUTTON {
	MARGIN: 0px 6px
}
DIV.buttons SPAN {
	FONT-WEIGHT: bold; MARGIN: 15px 4px 0px; COLOR: black! important
}
.gradDkBlue {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FILTER: progid:DXImageTransform.Microsoft.gradient(enabled='true',gradientType=1,startColorStr=#004AB5,endColorStr=#FFFFFF); PADDING-BOTTOM: 6px; FONT: bold 100% verdana; COLOR: #ffffff; PADDING-TOP: 6px; HEIGHT: 20px; BACKGROUND-COLOR: #004ab5
}
.gradDkBlueShowArticle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FILTER: progid:DXImageTransform.Microsoft.gradient(enabled='true',gradientType=1,startColorStr=#004AB5,endColorStr=#FFFFFF); PADDING-BOTTOM: 0px; FONT: bold 100% verdana; COLOR: #ffffff; PADDING-TOP: 0px; HEIGHT: 39px; BACKGROUND-COLOR: #004ab5
}
.gradDkBlueShowArticleReverse {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FILTER: progid:DXImageTransform.Microsoft.gradient(enabled='true',gradientType=1,startColorStr=#FFFFFF,endColorStr=#004AB5); PADDING-BOTTOM: 0px; FONT: bold 100% verdana; COLOR: #ffffff; PADDING-TOP: 0px; HEIGHT: 39px; BACKGROUND-COLOR: #004ab5
}
.gradLtBlue {
	FILTER: progid:DXImageTransform.Microsoft.gradient(enabled='true',gradientType=0,startColorStr=#0642C4,endColorStr=#3E7AFF); BACKGROUND-COLOR: #94b5ef
}
.gradYellow {
	MARGIN-TOP: 5px; FILTER: progid:DXImageTransform.Microsoft.gradient(enabled='true',gradientType=1,startColorStr=#FFFFCE,endColorStr=#FFFFFF); COLOR: #000000; HEIGHT: 1px; BACKGROUND-COLOR: #ffffce
}
.gradNone {
	MARGIN-TOP: 5px; FILTER: progid:DXImageTransform.Microsoft.gradient(enabled='true',gradientType=1,startColorStr=#FFFFFF,endColorStr=#FFFFFF); MARGIN-BOTTOM: 3px; COLOR: #000000; HEIGHT: 1px; BACKGROUND-COLOR: #ffffff
}
.gradOrg {
	FONT-SIZE: 0px; FILTER: progid:DXImageTransform.Microsoft.gradient(enabled='true',gradientType=1,startColorStr=#FF6B39,endColorStr=#FFFFFF); HEIGHT: 1px; BACKGROUND-COLOR: #ff6b39
}
.gradGrayBG {
	MARGIN-TOP: 5px; FILTER: progid:DXImageTransform.Microsoft.gradient(enabled='true',gradientType=1,startColorStr=#CECECE,endColorStr=#FFFFFF); FONT: 100% verdana; COLOR: #000000; HEIGHT: 1px; BACKGROUND-COLOR: #cecece
}
.gradGray {
	FONT-SIZE: 0px; FILTER: progid:DXImageTransform.Microsoft.gradient(enabled='true',gradientType=1,startColorStr=#CECECE,endColorStr=#FFFFFF); HEIGHT: 1px; BACKGROUND-COLOR: #cecece
}
.gradMedBlue {
	FONT-SIZE: 0px; FILTER: progid:DXImageTransform.Microsoft.gradient(enabled='true',gradientType=1,startColorStr=#8CADE7,endColorStr=#FFFFFF); HEIGHT: 1px; BACKGROUND-COLOR: #8cade7
}
.solidDkBlue {
	FONT-SIZE: 0px; HEIGHT: 3px; BACKGROUND-COLOR: #004ab5
}
.solidLtBlue {
	FONT-SIZE: 0px; HEIGHT: 3px; BACKGROUND-COLOR: #94b5ef
}
DIV.OptionText {
	MARGIN-LEFT: 20px
}
BODY.personalization INPUT.checkbox {
	MARGIN: 0px 3px -2px -4px
}
BODY.personalization BUTTON {
	FLOAT: right
}
BODY.history {
	MARGIN: 10px 16px 0px
}
BODY.history TABLE.tbHistory TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
BODY.history TD#eSortTableHeaderContainer {
	
}
BODY.history TD#eSortTableHeaderContainer TABLE {
	
}
BODY.history TD#eSortTableHeaderContainer TABLE TD A {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; WIDTH: 100%; COLOR: white; PADDING-TOP: 0.5em; TEXT-DECORATION: none
}
BODY.history TD#eSortTableHeaderContainer TABLE TD A IMG {
	VISIBILITY: hidden; MARGIN: 0px 15px; VERTICAL-ALIGN: middle; WIDTH: 8px; HEIGHT: 7px
}
BODY.history TD#eSortTableContainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px; HEIGHT: 100%
}
BODY.history TD#eSortTableContainer TABLE {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 1px solid
}
BODY.history TD#eSortTableContainer TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0.75em! important; BORDER-TOP: 0px; PADDING-LEFT: 0.75em! important; PADDING-BOTTOM: 0.75em! important; BORDER-LEFT: 1px solid; PADDING-TOP: 0.75em! important; BORDER-BOTTOM: 0px
}
.SpanPadding {
	PADDING-RIGHT: 10px
}
.SpanNoPadding {
	PADDING-RIGHT: 0px
}
TBODY.SortinginProcess TR TD A {
	CURSOR: wait
}
TBODY.SortingDone TR TD A {
	CURSOR: auto
}
.aboutHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 125%; COLOR: black
}
.progreessbar {
	MARGIN: 1px; OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 11px; BACKGROUND-COLOR: #33ff33
}
.progreessbarlight {
	MARGIN: 1px; OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 11px; BACKGROUND-COLOR: #66ff66
}
.progreessbarlightest {
	MARGIN: 1px; OVERFLOW: hidden; WIDTH: 10px; HEIGHT: 11px; BACKGROUND-COLOR: #99ff99
}
.progressdiv {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; OVERFLOW: hidden; BORDER-LEFT: gray 1px solid; WIDTH: 300px; BORDER-BOTTOM: gray 1px solid; HEIGHT: 15px; BACKGROUND-COLOR: white
}
TABLE#FAQTable TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.FAQtd1 {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
.FAQtd2 {
	BORDER-TOP: 1px solid
}
.FAQtd3 {
	BORDER-TOP: 1px solid; FONT-WEIGHT: bold
}
.FAQtd4 {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-WEIGHT: bold
}
.FAQtd1RTL {
	BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid
}
.FAQtd4RTL {
	BORDER-TOP: 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: 1px solid
}
.VistaFont {
	FONT-FAMILY: Segoe UI
}
.VistaHeading {
	FONT-SIZE: 22px; COLOR: #003c91; FONT-FAMILY: Segoe Light
}
A.vistaNamedA {
	FONT-WEIGHT: bold; COLOR: black
}
A.vistaNamedA:hover {
	COLOR: black; TEXT-DECORATION: none
}
#OptInNextButton {
	WIDTH: 87px
}
#OptInOptionsCancelButton {
	WIDTH: 87px
}
#OptInOptions {
	WIDTH: 470px
}
#OptInOptionsActions {
	TEXT-ALIGN: right
}
#OptInOptionsActionsTable {
	MARGIN: 10px 20px 5px 0px; WIDTH: 180px
}
#OptInOptionsHeader {
	PADDING-BOTTOM: 32px
}
#OptInOptionsShieldContainer {
	VERTICAL-ALIGN: top; WIDTH: 40px
}
#OptInChoiceRecommendedContainer {
	PADDING-TOP: 10px
}
#OptInOptionChoiceRecommendedHeading {
	PADDING-TOP: 10px
}
.OptInChoiceContainer {
	VERTICAL-ALIGN: top; WIDTH: 30px
}
.OptInChoiceDescription {
	PADDING-BOTTOM: 20px
}
.VistaSubHeading {
	FONT-WEIGHT: bold
}
#MUGetStartedOuter {
	MARGIN-BOTTOM: 10px; ; WIDTH: expression(WelcomeBannerTable.offsetWidth > 485 ? "450px" : (WelcomeBannerTable.offsetWidth - 35) + "px"); POSITION: relative; HEIGHT: 44px
}
#MUGetStartedInner {
	TABLE-LAYOUT: auto; ; MARGIN-TOP: expression(44 - MUGetStartedInner.offsetHeight > 0 ? (44 - MUGetStartedInner.offsetHeight)/2 + "px" : "0px"); WIDTH: 100%; POSITION: relative
}
#MUGetStartedNew {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 20px; PADDING-BOTTOM: 0px; COLOR: red; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
#MUGetStartedMessage {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-SIZE: 20px; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #4969b4; PADDING-TOP: 0px; FONT-STYLE: italic
}
#MUGetStartedButtonContainer {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#MUGetStartedButtonTextContainer {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#MUGetStartedButtonTextContainer A {
	COLOR: #6480c1
}
#MUGetStartedButtonText {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #6480c1; WHITE-SPACE: nowrap
}
#MUGetStartedGradientPart1Top {
	LEFT: 0px; POSITION: absolute
}
#MUGetStartedGradientPart1Middle {
	LEFT: 0px; POSITION: absolute
}
#MUGetStartedGradientPart1Bottom {
	LEFT: 0px; POSITION: absolute
}
#MUGetStartedGradientPart2Top {
	RIGHT: 0px; POSITION: absolute
}
#MUGetStartedGradientPart2Middle {
	RIGHT: 0px; POSITION: absolute
}
#MUGetStartedGradientPart2Bottom {
	RIGHT: 0px; POSITION: absolute
}
#MUGetStartedGradientPart1Top {
	Z-INDEX: -10; TOP: 0px
}
#MUGetStartedGradientPart2Top {
	Z-INDEX: -10; TOP: 0px
}
#MUGetStartedGradientPart1Bottom {
	Z-INDEX: -10; BOTTOM: 0px
}
#MUGetStartedGradientPart2Bottom {
	Z-INDEX: -10; BOTTOM: 0px
}
#MUGetStartedGradientPart1Middle {
	Z-INDEX: -20; TOP: 0px; HEIGHT: 100%
}
#MUGetStartedGradientPart2Middle {
	Z-INDEX: -20; TOP: 0px; HEIGHT: 100%
}
#imgMUGetStartedGradientPart1Middle {
	WIDTH: 148px; HEIGHT: 100%
}
#imgMUGetStartedGradientPart2Middle {
	WIDTH: 150px; HEIGHT: 100%
}
#MUGetStartedGradientCenter {
	Z-INDEX: -30; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px
}
#imgMUGetStartedGradientCenter {
	WIDTH: 99%; ; HEIGHT: expression(MUGetStartedInner.offsetHeight > 44 ? MUGetStartedInner.offsetHeight + "px" : 44 + "px")
}
